body {
    font-family: 'Roboto Condensed', sans-serif;
}

.container-fluid, .container {
    max-width: 1310px;
}

/* Header */

header {
    border-bottom: 2px solid rgba(230, 230, 230, 0.521);
}

/* Header - Banner */

#banner {
    background-color: #f72210;
    color: white;
    padding: 10px 20px;
}

#banner h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 72px;
    font-weight: bold;
    margin: 0;
}

#banner .d-flex {
    flex: 1;
}

#banner .navbar-nav {
    justify-content: flex-end;
}

#banner .btn-group {
    align-items: flex-end;
}

#banner button {
    border: none;
    border-radius: 0;
    max-width: 30%;
    height: 40%;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    margin: 0 2px;
}

#banner .sign-in {
    color: white;
    background-color: #f72210;
}

#banner .subscribe {
    color: #f72210;
    background-color: white;
}

#header-search {
    flex-wrap: nowrap;
}

header .dropdown-toggle::after {
    display: none;
}

/* Header - Nav */

header ul a {
    color: black !important;
}

header ul a:hover {
    color: red !important;
}

.green {
    color: green !important;
}

header ul li {
    border-right: 1px solid rgba(130, 130, 130, 0.4);
    font-size: 1.2rem;
    white-space: nowrap;
}

header ul li:last-child {
    border-right: none;
}

header .navbar {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.nav-justified .nav-item {
    flex-basis: auto;
}

/* Main */

main {
    padding: 20px;
}

section h2 {
    color: rgba(3,3,3,.4);
    font: bold 16px/16px "Roboto Condensed",sans-serif;
    text-transform: uppercase;
    padding-top: 11px;
}

/* Articles */

article h3, h4, h5 {
    color: black;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 10px;
}

article h3 { font-size: 1.5rem; }
article h4 { font-size: 1.3rem; }
article h5 { font-size: 1.1rem; }

article h3 a, h4 a, h5 a {
    color: black;
}

article h3 a:hover, h4 a:hover, h5 a:hover {
    color: black;
    text-decoration: underline;
    text-decoration-color: red;
}

article ul {
    list-style: none;
    padding: 0;
    padding-bottom: 10px;
}

article li {
    border-top: 1px solid rgba(130, 130, 130, 0.4);
}

article li a:hover {
    text-decoration: none;
    color: red;
}

article li h4 {
    font-size: 1rem;
}

article p {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

/* Small articles */

#more article, #opinion article, #latest article {
    padding: 11px 0;
    border-top: 1px solid rgba(130, 130, 130, 0.4);
    display: flex;
    align-items: center;
}

/* More section */

#more article h4 {
    font-size: 1rem;
    margin: 5px 0;
}

#more article p {
    font-size: 0.85rem;
}

/* Opinion section */

#opinion article h5 {
    font-size: 0.93rem;
    margin: 0;
}

#opinion article .text {
    font-size: 0.75rem;
    margin-left: 10px;
}

#opinion article .byline {
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(100, 100, 100);
}

#opinion article a:hover, #latest article a:hover {
    text-decoration: none;
    color: red;
}

#opinion article .byline a {
    color: red;
}

/* Latest section */

#latest article h5 {
    font-size: 0.93rem;
    margin-left: 5px;
}


/* Images */

[class*="picture-"] {
    position: relative;
}

[class*="picture-"] .image-tag {
    position: absolute;
    left: 0;
    bottom: 0;
    text-transform: uppercase;
    background: rgba(255,255,255,.9);
    padding: .4rem 1rem;
    color: red;
}

[class*="picture-"] .image-tag a {
    color: red;
    font-weight: bold;
}

[class*="picture-"] .image-tag a:hover { text-decoration: none; }

.picture-micro {
    padding: 0;
}
